@import "tailwindcss";

@theme {
  --color-background: #09090b; /* Hitam pekat elegan */
  --color-foreground: #fafafa; /* Putih bersih buat teks */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}